body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.dateP{
    margin: 10px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
}

a {
    color: black;
}

/* 스타일을 통해 컨테이너를 가로로 나눕니다 */
.container {
    display: flex;
    flex-direction: row;
}

/* 네비게이션 스타일 */
nav {
    flex-basis: 30%;
}

/* 메인 컨텐츠 스타일 */
main {
    flex-basis: 70%;
}

#nav {
    margin-top: 10px;
    font-size: 18px;
}

.navContainer > ul > li {
    margin-top: 10px;
}

.navWidth > a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

